# Build output
build/
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
*.png
*.zip
*.7z

# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.ncb
*.aps

# NuGet
packages/
*.nupkg

# MSBuild
*.binlog
msbuild.log
